<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="stylesheet/style.css">
</head>

<body>
<div class="container">
	<div class="box1"><a href="/newpost">Create a new post!</a></div>
	<div class="box2"><a href="/logout">Log Out</a></div>
	</div>
<div class="welcome">
<b>
Welcome, {{username}}.
</b>
</div>
{% for post in posts %}
<div class="post">
	<div class="container"><div class="title"><b>{{post.title}}</b></div>
	<div class="date"><b>{{post.created}}</b></div></div><hr>
	<div class="content">{{post.content.replace('\n',"<br>")| safe}}</div>

	</div>
{% endfor %}
</body>
</html>