<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="stylesheet/style.css">
</head>
<div class="Success">{{Success}}</div>
<div class="login">

<form method="post">
<span class="heading">Login</span>

<div class="mytextdiv"><input type="text" name="username" class="mytext" placeholder="Username"></div>
<div class="mytextdiv"><input type="password" name="password" class="mytext" placeholder="Password"></div>
<div><input type="submit"></div>

{{error}}
<br>
<br>
<br>
<a href="signup">Not a member? Sign up!</a>
</form>
</div>
</html>