<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="stylesheet/style.css">
</head>
<body>
<div class="container">
	<div class="box1"><a href="/">Home</a></div>
	<div class="box2"><a href="/logout">Log Out</a></div>
	</div>
<div class="perm">

<div class="post">
	<div class="container"><div class="title"><b>{{title}}</b></div>
	<div class="date"><b>{{created}}</b></div></div><hr>
	<div class="content">{{content | safe}}</div>

	</div>

</div>
</body>
</html>