{{login}}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="stylesheet/style.css">
</head>
<div class="signup">
<form method="post">
<span class="heading">Sign Up</span>

<div class="mytextdiv"> <input type="text" name="username" class="mytext" placeholder="Username" ><br></div>
<div class="mytextdiv"><input type="password" name="password" class="mytext" placeholder="Password" ><br></div>
<div class="mytextdiv"><input type="password" name="confirm" class="mytext" placeholder="Confirm Password"><br></div>
<div><input type="submit"></div>

{{errors}}
<br>
<br>
<a href="login">Already a member? Log in!</a>
</form>
</div>
</html>